.MainSection {
  height: 84vh;
  width: 100vw;
  border: 1px solid black;

  /* background-color: rgb(213, 205, 223); */

  display: flex;
  justify-content: center;
  align-items: center;




}

.mainLeft {
  height: 80vh;
  width: 60vw;
  /* border: 2px solid rgb(10, 9, 9); */

  padding-top: 6rem;


}

.twoButtonsContainer {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

}

.twoButtons {
  height: 2rem;
  width: 12rem;

  background-color: rgb(255, 255, 254);
  border-radius: 1rem;

  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  margin-right: 0.4rem;

  border: 0.01rem solid black;

}

.twoButtons:hover {
  background-color: rgb(110, 117, 207);
  color: white;
}



.mainRight {
  height: 80vh;
  width: 25vw;
  /* border: 2px solid rgb(19, 17, 17); */


}

.mainPic {
  height: 80vh;
  width: 13vw;

  /* border: 2px solid black; */

}

@media (max-width:674px) {
  .MainSection {
    height: 165vh;
    flex-direction: column;
  }

  .mainRight {
    width: 60vw;
  }

}