.rotatingCircle {
  border: 2px solid rgb(248, 252, 249);
  border-top: 2px solid rgb(21, 136, 30);
  border-radius: 50%;

  animation: spin1 1.25s linear infinite;
}

.logoImage {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;

  animation: spin2 1.25s linear infinite;

}

.logoImage:hover {
  transform: scale(1.2);
  border: 1px solid rgb(148, 175, 233);
}

.offcanvas {
  width: 5rem;
  background-color: rebeccapurple;
}


/* .box {
  height: 100px;
  width: 100px;
  background-color: rgb(233, 207, 207);
  border: 10px solid rgb(138, 39, 9);
  border-radius: 50%;
  border-top-color: blue;

  animation: spin 5s linear infinite;
} */



@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}