.Photos {
  height: 82vh;
  width: 100vw;
  /* border: 1px solid black; */

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 412px;

  /* background-color: rgb(97, 107, 104); */
}




img {
  height: 65vh;
  /* width: 50rem; */
  border-radius: 0.5rem;
  /* margin-top: 1rem; */
  /* border: 2px solid black; */
}



@media (max-width:674px) {

  img {
    height: 50vh;
    /* width: 674px; */
  }
}